body {
  margin: 0;
  padding: 0;
  font-family: 'neon';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #003;
  padding-top: 50px;
  color: white;
  text-align: center;
}
